body {
  font-family: sans-serif;
  background-color: rgb(255, 0, 0, 0.5);
}

header {
  background-color: red;
}

header h1 {
  text-align: center;
  margin: 0;
  padding: 0.7em 0.7em;
  color: rgb(0, 0, 0);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 1.3em 0.8em;
  margin-bottom: 30px;
  background-color: rgb(255, 97, 97);
}

.navbar a {
  display: block;
  color: rgb(0, 0, 0);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

/*SIDE BAR RIGHT*/
.sidebar {
  width: 50%;
}

.sidebar h2 {
  padding: 0 1em;
  text-align: center;
  font-size: 1.8em;
}
.sidebar p {
  padding: 0 1em;
  color: #1d1818;
  font-size: 1.25em;
}

/*content*/
.content {
  width: 50%;

  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.slank {
  margin: 5px auto;
  background-color: rgb(255, 0, 0, 0.5);
  border-spacing: 0;
  border-collapse: collapse;
}

.table-caption {
  background-color: rgb(124, 0, 0);
  padding: 1em 1em;
  color: white;
}

.slank thead {
  background-color: rgb(160, 13, 13);
  color: rgb(255, 255, 255);
}

.slank thead tr th {
  padding: 1em 1em;
  border: 0.6px solid rgb(255, 255, 255, 0.2);
  letter-spacing: 1px;
}

.odd {
  background-color: rgb(193, 35, 35, 0.5);
}

.odd td:nth-child(even) {
  background-color: rgb(219, 75, 75, 0.8);
}

/* .slank tbody tr td:nth-child(even) {
  background-color: rgb(178, 223, 15);
} */

.even {
  background-color: rgb(219, 75, 75, 0.8);
}

.even td:nth-child(even) {
  background-color: rgb(193, 35, 35, 0.5);
}

.slank tr td {
  padding: 0.2em 1.5em;
  color: rgb(0, 0, 0);
}

/* .slank tbody tr td:nth-child(even) {
  background-color: rgb(2, 90, 255);
} */

.slank tfoot {
  background-color: rgb(160, 13, 13);
  color: rgb(0, 0, 0);
}

.slank tfoot tr th {
  padding: 1em 1em;
  border: 0.6px solid rgb(255, 255, 255, 0.2);
  color: white;
  letter-spacing: 1px;
}

.slank tfoot tr td {
  border: 0.6px solid rgb(255, 255, 255, 0.2);
  color: white;
}

footer {
  display: flex;
  justify-content: center;
}
