* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(62, 0, 62, 0.8);
  padding: 20px 0;
  text-align: center;
  /* color: white; */
}

.container {
  display: flex;
  justify-content: center;
  background-color: rgb(62, 0, 62, 0.75);
}

main {
  background-color: rgba(148, 16, 148, 0.3);
  padding: 20px 10px;
  width: 70vw;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.7);
}

main p {
  font-size: 1.1rem;
}

main h3 {
  font-size: 1.5rem;
}

main a {
  color: black;
}

footer {
  padding: 20px 20px;
  text-align: center;
  background-color: rgb(62, 0, 62, 0.8);
}
