body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  background-color: darkgreen;
  padding: 3px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 241, 241);
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(61, 165, 61);
}

nav a {
  display: block;
  text-decoration: none;
  padding: 14px 20px;
  color: rgb(0, 0, 0);
}

.container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-areas: "asideLeft mainRight";
}

aside {
  grid-area: asideLeft;
  padding: 10px 10px;
}

main {
  display: grid;
  grid-area: mainRight;
  height: fit-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  grid-template-areas:
    "top1 top2 top3"
    "bottom1 bottom2 bottom3";
}

.item {
  display: flex;
  justify-content: center;
}

.fg {
  height: fit-content;
  border: 1px solid rgb(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.9);
}

.fc {
  padding: 1px 5px;
  font-size: 0.9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fc span {
  font-size: 1.3rem;
  font-weight: bold;
}

.item figure img {
  width: 100%;
  height: 100%;
}

.itemA {
  grid-area: top1;
}

.itemB {
  grid-area: top2;
}

.itemC {
  grid-area: top3;
}

.itemD {
  grid-area: bottom1;
}

.itemE {
  grid-area: bottom2;
}

.itemF {
  grid-area: bottom3;
}

footer a {
  display: block;
}

footer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
