body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background-color: yellow;
  display: none;
}

header h1 {
  margin: 0;
  padding: 0.4em 0.6em;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 0.7em 0;
}

nav {
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  display: none;
}

/*Content*/
.container {
  display: flex;
  width: 100%;
}

/*left*/

.left {
  width: 30%;
  background-color: green;
}

.left h2 {
  padding: 0 0.7em;
}

/*Right*/

.right {
  background-color: red;
  width: 70%;
}

.right h2 {
  padding: 0 0.7em;
}

.right-content {
  background-color: rgb(255, 0, 204);
  display: flex;
  flex-wrap: wrap;
}

.fg-right {
  border: 2px solid black;
  width: 200px;
  height: 500px;
}

.text-right {
  padding: 0.5em 0.5em;
}

/*footer*/
footer {
  background-color: yellow;
}

footer p {
  margin: 0;
  display: none;
}
