body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  display: none;
}

header h1 {
  margin: 0;
  padding: 0.4em 0.6em;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 0.7em 0;
}

nav {
  display: flex;
  justify-content: space-evenly;
  display: none;
}

/*Content*/
.container {
  display: flex;
  width: 100%;
}

/*left*/

.left {
  width: 30%;
}

.left h2 {
  padding: 0 0.7em;
}

.fg-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fc-left {
  text-align: center;
}

/*Right*/

.right {
  width: 70%;
  text-align: center;
}

.right h2 {
  padding: 0 0.7em;
}

.right-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.right-content article:nth-child(2) {
  margin-top: 9em;
  margin-bottom: 15em;
}

.right-content article:nth-child(3) {
  margin-bottom: 15em;
}

.fg-right {
  width: 200px;
  height: fit-content;
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.5);
}

.text-right {
  padding: 0.5em 0.5em;
}

/*footer*/
footer {
  display: none;
}

footer p {
  margin: 0;
  display: none;
}
