body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #de8f5f;
}

header h1 {
  margin: 0;
  padding: 0.4em 0.6em;
}

nav a {
  display: block;
  padding: 0.7em 0.3em;
  color: rgb(0, 0, 0);
}

nav {
  background-color: #ffb26f;
  display: flex;
  justify-content: space-evenly;
}

/*Content*/
.container {
  display: flex;
  width: 100%;
}

/*left*/

.left {
  width: 30%;
  background-color: #ffcf9d;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left h2 {
  padding: 0 0.7em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fg-left {
  /* border: 2px solid black; */
  width: 60%;
  height: fit-content;
}

.fg-left img {
  width: 100%;
}

.fg-left h4 {
  padding: 0 0.6em;
}

.fact {
  margin: 0;
  width: 60%;
  padding-bottom: 1em;
}

/*Right*/

.right {
  background-color: rgb(255, 207, 157, 0.8);
  width: 70%;
}

.right h2 {
  padding: 0 0.7em;
  text-align: center;
}

.right-content {
  display: flex;
  flex-wrap: wrap;
}

.fg-right {
  border: 2px solid black;
  width: 200px;
  height: 620px;
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.7);
}

.fg-right img {
  width: 200px;
}

.text-right {
  padding: 0.5em 0.5em;
}

/*footer*/
footer {
  background-color: #de8f5f;
}

footer p {
  margin: 0;
  padding: 1em 1em;
}

/*Media Queries*/

/*Insane Small, I think this devise does not exist*/
@media screen and (min-width: 1px) and (max-width: 319px) {
  body {
    font-size: 40%;
  }

  nav {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .right {
    order: -1;
    width: 100%;
  }

  .left {
    width: 100%;
  }

  .right-content {
    justify-content: center;
  }

  .fg-right {
    height: fit-content;
  }
}

/*Phone Smaller*/
@media screen and (min-width: 320px) and (max-width: 499px) {
  body {
    font-size: 60%;
  }

  nav {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .right {
    order: -1;
    width: 100%;
  }

  .left {
    width: 100%;
  }

  .right-content {
    justify-content: center;
  }

  .fg-right {
    height: fit-content;
  }
}

/*Required from Canvas 500-700*/
@media only screen and (min-width: 500px) and (max-width: 700px) {
  body {
    font-size: 70%;
  }

  nav {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .right {
    order: -1;
    width: 100%;
  }

  .left {
    width: 100%;
  }

  .right-content {
    justify-content: center;
  }

  .fg-right {
    height: 450px;
  }
}

/*Tablets*/
@media screen and (min-width: 701px) and (max-width: 768px) {
  body {
    font-size: 90%;
  }

  nav {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .right {
    order: -1;
    width: 100%;
  }

  .left {
    width: 100%;
  }

  .right-content {
    justify-content: center;
  }

  .fg-right {
    height: 550px;
  }
}

/*Laptop*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .right-content {
    justify-content: center;
  }
}

/*Desktop Wide Screen*/
@media screen and (min-width: 1720px) {
  .right-content {
    justify-content: center;
  }
}
