body {
  font-family: "Times New Roman", Times, serif;
}

header h1 {
  background-color: purple;
  margin: 0;
}

nav {
  /* background-color: yellow;
  display: flex;
  justify-content: space-around; */
  display: none;
}

.fg {
  width: 200px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.8);
  margin: 5px;
}

.fg img {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5px 5px;
}
